<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#0E0E10">
    <!-- <meta name="google-site-verification" content="your_verification_code"> -->
    <meta name="keywords"
        content="india, uttar-pradesh, lucknow, gorakhpur, gkp, software, software-developer, web-developer, coderadi, coderadi.in, python, html-css, flask, fitness, landing-page, fitness-landing-page">

    <meta name="description"
        content="Hi, I'm Aditya, and this is a fitness landing page demo, I built this demo project especially for fitness coaches trying to scale digitally.">

    <title>coderadi &bull; Fitness landing page demo</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects/landing-page-01.css') }}">
</head>

<body>
    <header class="header row h-sb">
        <div class="app-title row gap-10">
            <img src="{{ url_for('static', filename='assets/projects/landing-page-01/logo.png') }}" alt="Site logo" class="logo">
            <h1 class="h1">LimitlessFit</h1>
        </div>

        <div class="options row gap-20">
            <ul class="list row gap-10">
                <li><a href="#about" class="link">About</a></li>
                <li><a href="#plans" class="link">Plans</a></li>
                <li><a href="#faqs" class="link">FAQs</a></li>
            </ul>

            <a href="#cta" class="link btn primary">Get quote</a>

            <div class="theme-body">
                <div class="theme-btn">
                    <img src="{{ url_for('static', filename='assets/projects/landing-page-01/dark.png') }}" alt="Dark theme" class="icon">
                </div>
            </div>
        </div>
    </header>
</body>

</html>