<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">
    <meta name="author" content="coderadi">
    <meta name="theme-color" content="#0E0E10">
    <!-- <meta name="google-site-verification" content="your_verification_code"> -->
    <meta name="keywords"
        content="india, uttar-pradesh, lucknow, gorakhpur, gkp, software, software-developer, web-developer, coderadi, coderadi.in, python, html-css, flask, flet">

    <meta name="description" content="coderadi &bull; driven by code.
Welcome to my portfolio. I'm a dedicated software developer & entrepreneur.">

    <title>coderadi</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
</head>

<body>
    <span class="glowlight" id="top-glowlight"></span>
    {% include 'components/header.html' %}

    <main class="main column gap-50">
        <section class="hero row h-sb">
            <div class="text-content column gap-20">
                <div class="intro column">
                    <h1 class="h1"><span id="type-1"></span></h1>
                    <h1 class="h1"><span id="type-2"></span></h1>
                    <p class="para" id="type-3"></p>
                </div>

                <div class="cta row gap-10">
                    <a href="#skills" class="link btn fl">Checkout my skills</a>
                    <a href="/contact/" class="link btn fl">Get in touch</a>
                </div>
            </div>

            <div class="image-content column gap-50">
                <div class="bar" style="--top-offset: 70px; --delay: 0ms;">
                    <img src="{{ url_for('static', filename='assets/images/projects-thumbnail.png') }}"
                        alt="View projects" class="img">
                </div>

                <div class="bar" style="--top-offset: -70px; --delay: 200ms;">
                    <img src="{{ url_for('static', filename='assets/images/auvora-thumbnail.png') }}"
                        alt="Checkout Auvora" class="img">
                </div>
            </div>
        </section>

        <section class="skills column gap-20" id="skills">
            <h1 class="h1">My skills</h1>

            <ul class="list column gap-10">
                <li class="row gap-10">
                    <span class="color e"></span>
                    <span class="text">Expertise</span>
                </li>
                <li class="row gap-10">
                    <span class="color w"></span>
                    <span class="text">Familiar</span>
                </li>
            </ul>

            <div class="row gap-20">
                <div class="skill-show column gap-20">
                    <h3 class="h3">Frontend dev.</h3>
                    <p class="para">I can build responsive frontend for any software or website for almost any device and any screen.</p>
                    
                    <ul class="list row gap-10">
                        <li><span class="tag text e">HTML</span></li>
                        <li><span class="tag text e">CSS</span></li>
                        <li><span class="tag text e">JS</span></li>
                        <li><span class="tag text w">Flet</span></li>
                    </ul>
                </div>
                
                <div class="skill-show column gap-20">
                    <h3 class="h3">Backend dev.</h3>
                    <p class="para">I build web-servers or backend for mainly websites, but it can work for other software too.</p>

                    <ul class="list row gap-10">
                        <li><span class="tag text e">Flask</span></li>
                        <li><span class="tag text w">NodeJS</span></li>
                    </ul>
                </div>
                
                <div class="skill-show column gap-20">
                    <h3 class="h3">Data science</h3>
                    <p class="para">I'm currently learning Data Science, after learning I'll build mini AI tools & company specific chatbots.</p>

                    <ul class="list row gap-10">
                        <li><span class="tag text e">Python</span></li>
                        <li><span class="tag text w">Pandas</span></li>
                        <li><span class="tag text w">NumPy</span></li>
                    </ul>
                </div>
            </div>

            <div class="row h-sb gap-20" id="langs">
                <ui class="list row gap-10">
                    <li><img src="{{ url_for('static', filename='assets/icons/python.png') }}" alt="python" loading="lazy" class="icon"></li>
                    <li><img src="{{ url_for('static', filename='assets/icons/html.png') }}" alt="html" loading="lazy" class="icon"></li>
                    <li><img src="{{ url_for('static', filename='assets/icons/css.png') }}" alt="css" loading="lazy" class="icon"></li>
                    <li><img src="{{ url_for('static', filename='assets/icons/js.png') }}" alt="js" loading="lazy" class="icon"></li>
                    <li><img src="{{ url_for('static', filename='assets/icons/flask.png') }}" alt="flask" loading="lazy" class="icon"></li>
                    <li><img src="{{ url_for('static', filename='assets/icons/flet.png') }}" alt="flet" loading="lazy" class="icon"></li>
                    <li><img src="{{ url_for('static', filename='assets/icons/nodejs.png') }}" alt="nodejs" loading="lazy" class="icon"></li>
                </ui>

                <h3 class="h3">Languages & frameworks</h3>
            </div>

            <div class="row gap-20" id="tech">
                <div class="tool column gap-10">
                    <ui class="list row gap-10">
                        <li><img src="{{ url_for('static', filename='assets/icons/git.png') }}" alt="GitHub" class="icon"></li>
                        <li><img src="{{ url_for('static', filename='assets/icons/vs-code.png') }}" alt="VS Code" class="icon"></li>
                    </ui>

                    <h3 class="h3">Dev. workspace</h3>
                    <p class="para">I use VS code and GitHub for development and version control. With this combo, I can build and update the code in collaborative space also.</p>
                </div>

                <div class="tool column gap-10">
                    <ui class="list row gap-10">
                        <li><img src="{{ url_for('static', filename='assets/icons/mysql.png') }}" alt="MySQL" class="icon"></li>
                        <li><img src="{{ url_for('static', filename='assets/icons/sqlite.png') }}" alt="SQLite" class="icon"></li>
                    </ui>

                    <h3 class="h3">Database integration</h3>
                    <p class="para">I use MySQL for large sized and production standard projects, and SQLite for mid/small sized projects as it provides flexibility at low level.</p>
                </div>

                <div class="tool column gap-10">
                    <ui class="list row gap-10">
                        <li><img src="{{ url_for('static', filename='assets/icons/figma.png') }}" alt="Figma" class="icon"></li>
                        <li><img src="{{ url_for('static', filename='assets/icons/stitch.png') }}" alt="Stitch AI" class="icon"></li>
                    </ui>

                    <h3 class="h3">Frontend designing</h3>
                    <p class="para">I use Figma and Stitch AI to design the frontend for any site or any app. These tools are industry standard and use by almost all frontend devs.</p>
                </div>
            </div>
        </section>

        
    </main>

    <span class="glowlight" id="bottom-glowlight"></span>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/pages/home.js') }}"></script>
</body>

</html>