<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 &bull; Lost in Code</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/icon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/err.css') }}">
</head>
<body class="flex">
    <span class="glowlight" id="top-glowlight"></span>

    <div class="content column center gap-20">
        <h1 class="h1">404</h1>
        <h2 class="h2">Lost in Code</h2>
        <p class="para">It seems this page has debugged itself out of existence. Our pixels are searching for it, but in the meantime, here are some helpful links.</p>

        <div class="res-row h-center gap-10">
            <a href="/" class="link btn fl">Return to Home</a>
            <a href="/about/" class="link btn ot">About me</a>
            <a href="/contact/" class="link btn ot">Contact</a>
        </div>
    </div>

    <span class="glowlight" id="bottom-glowlight"></span>
</body>
</html>