/* | BASE */

:root {
    --primary: #0D7FF2;
    --light: #F5F7F8;
    --dark: #101922;
}

body {
    background-color: var(--light);
    color: var(--dark);
    max-width: 100%;
}

.h1, .h2, .h3 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.section-content {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 50px;
}

.link, .ulink {color: var(--dark);}

/* | HEADER */

.header {
    background-color: #FFF;
    border-bottom: 1px solid var(--dark);
}

.header .section-content {padding: 15px;}

.header .app-title .fl-icon {
    color: var(--primary);
    background-color: #BBDDFF;
    padding: 10px;
    border-radius: 8px;
    font-size: 2rem;
}

.header .app-title .title {
    font-size: var(--f2);
    font-weight: bold;
}

/* | MAIN [HERO] */

.hero .tag {
    background-color: #BBDDFF;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 5px 10px;
    border-radius: 50px;
}

.hero .h1 {
    font-size: min(7rem, 15vw);
    font-weight: bold;
}

.hero .highlight {
    background: -webkit-linear-gradient(45deg, var(--primary), #BBDDFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .para {font-size: 1.5rem;}

.hero .img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

/* | MAIN [TRUST] */
.trust {background-color: #FFF;}
.trust .h2 {
    text-transform: uppercase;
    text-align: center;
}

.trust .companies {width: 100%;}
.trust .company * {
    color: #C0C0C0;
    font-weight: bold;
    font-size: 2rem;
}

/* | */
.benefits .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.benefits .benefit {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFF;
}

.benefit .fl-icon {
    color: var(--primary);
    background-color: #BBDDFF;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

/* | MAIN [ABOUT] */
.about {background-color: #FFF;}

.about .title {
    color: var(--primary);
    font-size: var(--f1);
    font-weight: bold;
}

.about .img {
    width: 50%;
    border-radius: 10px;
}

.about .text-content .fl-icon {color: var(--primary);}
.about .text-content .text {font-weight: bold;}

/* | TESTIMONIALS */
.testimonials .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.testimonials .testimonial {
    padding: 10px;
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid #BBDDFF;
}

.testimonials .testimonial .img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}