body {
    background-image: url('/static/assets/images/skill-bg.png');
    background-attachment: fixed;
    background-size: cover;
}

.bg.img {display: none;}

.header {
    position: static !important;
    backdrop-filter: none !important;
}

.main {
    padding: 50px;
    align-items: end;
}

.main .content {
    padding: 50px;
    width: clamp(350px, 40%, 600px);
}

.main .content .input {
    border: none;
    background-color: var(--text);
    color: var(--surface);
}

.main .content .input:focus {border-radius: 10px;}
.main .content .btn.fl:hover {box-shadow: 0 0 8px var(--secondary);}

@media (max-width: 1024px) {
    body {background-image: none;}
    .bg.img {display: initial;}
    .main {align-items: center;}
    .main .content {width: 80%;}
}

@media (max-width: 768px) {
    .main .content {padding: 0;}
}

@media (max-width: 568px) {
    .main {padding: 20px;}
    .main .content {width: 100%;}
}