.img.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    filter: blur(10px);
}

.header {
    position: static !important;
    backdrop-filter: none !important;
}

.main {
    padding: 50px;
    align-items: end;
}

.main .content {
    width: clamp(350px, 40%, 600px);
    backdrop-filter: blur(15px);
    padding: 50px;
    border-radius: 10px;
}

.main .content .input {border: 1px solid var(--text);}

.main .content .input:focus {border-radius: 10px;}
.main .content .btn.fl:hover {box-shadow: 0 0 8px var(--secondary);}

@media (max-width: 1024px) {
    body {background-image: none;}
    .bg.img {display: initial;}
    .main {align-items: center;}
    .main .content {width: 80%;}
}

@media (max-width: 768px) {
    .main .content {padding: 20px;}
}

@media (max-width: 568px) {
    .main {padding: 20px;}
    .main .content {width: 100%;}
}