@keyframes barMotion {
    0%, 100% {top: var(--top-offset);}
    50% {top: calc(var(--top-offset) + 30px);}
}

/* | BASE */
.main section {padding: 50px;}
#highlight {
    background-image: linear-gradient(135deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: relative;
}

.glowlight {
    position: fixed;
    width: max(250px, 20vw);
    height: max(250px, 20vw);
    pointer-events: none;
    z-index: -1;
    filter: blur(20px);
}

#top-glowlight {
    top: 0;
    left: 0;
    background: radial-gradient(
        circle at top left,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

#bottom-glowlight {
    bottom: 0;
    right: 0;
    background: radial-gradient(
        circle at bottom right,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

/* | HERO SECTION */

.hero {height: 100vh;}

.hero .text-content,
.hero .image-content {width: 50%;}

.hero .text-content .h1 {font-size: 5rem;}
.hero .text-content .btn.fl:hover {box-shadow: 0 0 15px var(--primary);}
.hero .text-content .btn.ot {position: relative;}

.hero .text-content .btn.ot::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: -1;
    background-color: var(--secondary);
    clip-path: circle(0% at 50% 50%);
    transition: all 0.5s;
}

.hero .text-content .btn.ot:hover::before {
    clip-path: circle(100% at 50% 50%);
    box-shadow: 0 0 10px var(--secondary);
}

.hero .image-content .bar {
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 15px 20px var(--border);
    position: relative;
    top: var(--top-offset);
    animation: barMotion 5s linear(0, 0.0146, 0.0548, 0.1153, 0.1911, 0.2776, 0.3706, 0.4665, 0.562, 0.6545, 0.7419, 0.8225, 0.8951, 0.9589, 1.0137, 1.0591, 1.0956, 1.1235, 1.1434, 1.156, 1.1621, 1.1626, 1.1585, 1.1505, 1.1396, 1.1264, 1.1118, 1.0964, 1.0807, 1.0653, 1.0505, 1.0367, 1.0241, 1.0128, 1.003, 0.9946, 0.9878, 0.9824, 0.9784, 0.9757, 0.9741, 0.9734, 0.9737, 0.9746, 0.9761, 0.9781, 0.9803, 0.9828, 0.9853, 0.9878, 0.9903, 0.9927, 0.9949, 0.9968, 0.9986, 1.0001, 1.0013, 1.0024, 1.0032, 1.0037, 1.0041, 1.0043, 1.0043, 1.0042, 1.0041, 1.0038, 1.0034, 1.0031, 1.0026, 1.0022, 1.0018, 1.0014, 1.001, 1.0007, 1.0004, 1.0001, 0.9999, 0.9997, 0.9996, 0.9994, 0.9994, 0.9993, 0.9993, 0.9993, 0.9993, 0.9994, 0.9994, 0.9995, 0.9995, 0.9996, 0.9997, 0.9997, 0.9998, 0.9999, 0.9999, 1, 1, 1, 1.0001, 1.0001, 1) infinite;
    animation-delay: var(--delay);
}

.hero .image-content .bar:first-child {
    z-index: 1;
    left: 20px;
}

.hero .image-content .bar::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    transform: rotate(0deg) skewY(-45deg) translate(-20px, -10px);
    background-color: var(--border);
    transition: all 0.4s;
}

.hero .image-content .bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--border);
    top: 100%;
    left: -10px;
    transform: skewX(-45deg);
    transition: all 0.4s;
}

.hero .image-content .bar:hover::before,
.hero .image-content .bar:hover::after {background-color: var(--primary);}

/* | SKILLS SECTION */
.skills .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills .skill-show {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    background-color: var(--surface);
}

.skills .skill-show:hover {
    box-shadow: 0 0 10px var(--primary);
}

.skills .skill-show .tag {
    padding: 5px 10px;
    border-radius: 50px;
}

.skills .color {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.skills .e {background-color: #388659;}
.skills .w {background-color: var(--secondary);}

.skills #langs {
    position: relative;
    flex-wrap: wrap-reverse;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--background);
}

.skills #langs::before,
.skills #langs::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 80%;
    top: -2px;
    left: -2px;
    border-radius: 8px;
    transition: all 0.3s;

    background: linear-gradient(
        135deg,
        var(--primary) 0%, 
        var(--secondary) 40%
    );
}

.skills #langs:hover::before {filter: blur(5px);}

.skills #langs .icon {
    width: 48px;
    height: 48px;
}

.skills .tool {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--secondary);
    background-color: var(--surface);
}

.skills .tool:hover {box-shadow: 0 0 10px var(--secondary);}

.skills .tool .icon {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--background);
}

.cta {
    background-color: var(--surface);
    text-align: center;
    margin: 20px;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: start;
        height: auto;
        gap: 50px;
    }
    
    .hero .text-content,
    .hero .image-content {width: 100%;}

    .hero .image-content {align-items: center;}
    .hero .image-content .bar {width: max(60%, 250px);}

    .skills .grid {grid-template-columns: repeat(2, 1fr);}
}

@media (max-width: 768px) {
    .hero .image-content {gap: 100px;}
}

@media (max-width: 568px) {
    .main section {padding: 20px;}

    .hero .image-content .bar:first-child {--top-offset: 60px !important;}
    .hero .image-content .bar:last-child {--top-offset: -60px !important;}

    .hero .image-content .bar::before {
        transform: rotate(0deg) skewY(-45deg) translate(-10px, -5px);
        width: 10px;
    }

    .hero .image-content .bar::after {
        transform: skewX(-45deg) translateX(5px);
        height: 10px;
    }

    .skills .grid {grid-template-columns: repeat(1, 1fr);}
}