#highlight {
    background-image: linear-gradient(135deg, #5863F8, #059669, #D05C5C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: relative;
}

#highlight::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(8px);
    background-image: linear-gradient(135deg, #5863F8, #059669, #D05C5C);
    -webkit-background-clip: text;
    background-clip: text;
}

.hero {height: 100vh;}

.hero .text-content,
.hero .image-content {width: 50%;}

.hero .text-content .h1 {font-size: 5rem;}

.hero .image-content .bar {
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 15px 20px var(--border);
    position: relative;
}

.hero .image-content .bar::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    transform: rotate(0deg) skewY(-45deg) translate(-20px, -10px);
    background-color: var(--border);
}

.hero .image-content .bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--border);
    top: 100%;
    left: -10px;
    transform: skewX(-45deg);
}