@keyframes barMotion {
    0%, 100% {top: var(--top-offset);}
    50% {top: calc(var(--top-offset) + 30px);}
}

/* | BASE */

.skill-display.show {
    transform: rotate(-30deg) skew(25deg) translate(0, 0) !important;
    opacity: 1 !important;
}

#highlight {
    background-image: linear-gradient(135deg, #226CE0, #5863F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: relative;
}

.glowlight {
    position: fixed;
    width: max(250px, 20vw);
    height: max(250px, 20vw);
    pointer-events: none;
    z-index: -1;
    filter: blur(20px);
}

#top-glowlight {
    top: 0;
    left: 0;
    background: radial-gradient(
        circle at top left,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

#bottom-glowlight {
    bottom: 0;
    right: 0;
    background: radial-gradient(
        circle at bottom right,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

/* | HERO SECTION */

.hero {
    height: 100vh;
    padding: 50px;
}

.hero .text-content,
.hero .image-content {width: 50%;}

.hero .text-content .h1 {font-size: 5rem;}
.hero .text-content .btn:hover {box-shadow: 0 0 15px var(--primary);}

.hero .image-content .bar {
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 15px 20px var(--border);
    position: relative;
    top: var(--top-offset);
    animation: barMotion 5s linear(0, 0.0146, 0.0548, 0.1153, 0.1911, 0.2776, 0.3706, 0.4665, 0.562, 0.6545, 0.7419, 0.8225, 0.8951, 0.9589, 1.0137, 1.0591, 1.0956, 1.1235, 1.1434, 1.156, 1.1621, 1.1626, 1.1585, 1.1505, 1.1396, 1.1264, 1.1118, 1.0964, 1.0807, 1.0653, 1.0505, 1.0367, 1.0241, 1.0128, 1.003, 0.9946, 0.9878, 0.9824, 0.9784, 0.9757, 0.9741, 0.9734, 0.9737, 0.9746, 0.9761, 0.9781, 0.9803, 0.9828, 0.9853, 0.9878, 0.9903, 0.9927, 0.9949, 0.9968, 0.9986, 1.0001, 1.0013, 1.0024, 1.0032, 1.0037, 1.0041, 1.0043, 1.0043, 1.0042, 1.0041, 1.0038, 1.0034, 1.0031, 1.0026, 1.0022, 1.0018, 1.0014, 1.001, 1.0007, 1.0004, 1.0001, 0.9999, 0.9997, 0.9996, 0.9994, 0.9994, 0.9993, 0.9993, 0.9993, 0.9993, 0.9994, 0.9994, 0.9995, 0.9995, 0.9996, 0.9997, 0.9997, 0.9998, 0.9999, 0.9999, 1, 1, 1, 1.0001, 1.0001, 1) infinite;
    animation-delay: var(--delay);
}

.hero .image-content .bar:first-child {
    z-index: 1;
    left: 20px;
}

.hero .image-content .bar::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    transform: rotate(0deg) skewY(-45deg) translate(-20px, -10px);
    background-color: var(--border);
    transition: all 0.4s;
}

.hero .image-content .bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--border);
    top: 100%;
    left: -10px;
    transform: skewX(-45deg);
    transition: all 0.4s;
}

.hero .image-content .bar:hover::before,
.hero .image-content .bar:hover::after {background-color: var(--primary);}

/* | SKILLS SECTION */
.skills .skill-display {
    background-image: url('/static/assets/images/skill-bg.png');
    transform: rotate(-30deg) skew(25deg) translate(-100%, 100%);
    position: relative;
    background-size: cover;
    aspect-ratio: 16 / 9;
    padding: 15px;
    justify-content: end;
    height: 250px;
    box-shadow: -20px 15px 20px var(--border);
    opacity: 0;
    transition: transform 1.6s linear(0, 0.0104, 0.039, 0.0823, 0.137, 0.2002, 0.2692, 0.3417, 0.4156, 0.4892, 0.5611, 0.6301, 0.6953, 0.756, 0.8117, 0.8621, 0.9071, 0.9466, 0.9807, 1.0097, 1.0337, 1.0531, 1.0683, 1.0797, 1.0875, 1.0924, 1.0946, 1.0945, 1.0925, 1.089, 1.0843, 1.0786, 1.0723, 1.0655, 1.0586, 1.0516, 1.0447, 1.038, 1.0316, 1.0257, 1.0202, 1.0152, 1.0107, 1.0067, 1.0032, 1.0003, 0.9978, 0.9957, 0.9941, 0.9929, 0.992, 0.9914, 0.9911, 0.991, 0.9911, 0.9914, 0.9918, 0.9923, 0.9929, 0.9935, 0.9941, 0.9948, 0.9955, 0.9961, 0.9967, 0.9973, 0.9979, 0.9984, 0.9988, 0.9992, 0.9996, 0.9999, 1.0001, 1.0003, 1.0005, 1.0006, 1.0007, 1.0008, 1.0008, 1.0009, 1.0008, 1.0008, 1.0008, 1.0008, 1.0007, 1.0006, 1.0006, 1.0005, 1.0005, 1.0004, 1.0003, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1.0001, 1, 1, 1, 1);
}

.skills .skill-display::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    transform: rotate(0deg) skewY(-45deg) translate(-35px, -10px);
    background-color: var(--border);
    transition: all 0.4s;
}

.skills .skill-display::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--border);
    top: 100%;
    left: -10px;
    transform: skewX(-45deg);
    transition: all 0.4s;
}

.skills .skill-display:nth-child(1) {
    top: 150px;
    z-index: 2;
}

.skills .skill-display:nth-child(2) {
    z-index: 1;
}

.skills .skill-display:nth-child(3) {
    top: -150px;
    z-index: 0;
}

.skills .skill-display:hover::before,
.skills .skill-display:hover::after {background-color: var(--primary);}

.skills .skill-display .h3 {
    background-color: #1A1A1DA0;
    padding: 10px;
    border-radius: 8px;
}

.skills .tag {
    padding: 5px 10px;
    background-color: #5863F8A0;
    border-radius: 50px;
}

.skills .right {
    width: 100%;
    height: 50vh;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--surface);
}

.skills .right .desc {
    opacity: 0;
    display: none;
}

/* .skills .right .desc .h1 {transform: translateY(-100%);}
.skills .right .desc .content * {transform: translateY(100%);} */