.glowlight {
    position: fixed;
    width: max(250px, 20vw);
    height: max(250px, 20vw);
    pointer-events: none;
    z-index: -1;
    filter: blur(20px);
}

#top-glowlight {
    top: 0;
    left: 0;
    background: radial-gradient(
        circle at top left,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

#bottom-glowlight {
    bottom: 0;
    right: 0;
    background: radial-gradient(
        circle at bottom right,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

.main {padding: 50px;}

.hero {
    height: 60vh;
    justify-content: end;
    padding: 50px;
}

.hero .h1 {
    line-height: 40px;
}

.hero .para {
    max-width: 450px;
}

.hero .list {
    padding: 20px 0;
}

.hero .list .btn.fl:hover {
    box-shadow: 0 0 10px var(--primary);
}

.hero .list .btn.ot {
    position: relative;
}

.hero .list .btn.ot::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: -1;
    background-color: var(--secondary);
    clip-path: circle(0% at 50% 50%);
    transition: all 0.5s;
}

.hero .list .btn.ot:hover::before {
    clip-path: circle(100% at 50% 50%);
    box-shadow: 0 0 10px var(--secondary);
}

.projects .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.projects .project-grid .project {
    background-color: var(--surface);
    position: relative;
    padding: 10px;
    border-radius: 8px;
}

.projects .project-grid .project::before,
.projects .project-grid .project::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.projects .project-grid .project::before {
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary);
    box-shadow: 0 0 10px var(--primary);
    border-radius: 8px 0 0 0;
    top: -2px;
    left: -2px;
}

.projects .project-grid .project::after {
    width: 50px;
    height: 50px;
    border: 2px solid var(--secondary);
    box-shadow: 0 0 10px var(--secondary);
    border-radius: 0 0 8px 0;
    bottom: -2px;
    right: -2px;
}

.projects .project-grid .project .img {
    border-radius: 8px;
    box-shadow: 0px 0px 25px -10px var(--text-secondary);
}

.projects .project-grid .project .text-content {
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

.projects .project li .text {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: var(--primary);
}

.projects .project .btn.fl {
    text-align: center;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .projects .project-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 568px) {
    .main {padding: 20px;}
    .main .hero {padding: 20px;}

    .projects .project-grid {grid-template-columns: 1fr;}
}