body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 50px;
}

.glowlight {
    position: fixed;
    width: max(250px, 20vw);
    height: max(250px, 20vw);
    pointer-events: none;
    z-index: -1;
    filter: blur(20px);
}

#top-glowlight {
    top: 0;
    left: 0;
    background: radial-gradient(
        circle at top left,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

#bottom-glowlight {
    bottom: 0;
    right: 0;
    background: radial-gradient(
        circle at bottom right,
        #226CE0A0 0%,
        #5863F857 30%,
        transparent 80%
    );
}

.content {
    text-align: center;
    width: 100%;
}

.h1 {font-size: 10rem;}
.para {width: max(50%, 250px);}

@media (max-width: 425px) {
    body {padding: 30px;}
}