.footer {
    padding: 50px;
    margin: 20px;
    border-radius: 20px;

    background: radial-gradient(
        circle at top left, 
        var(--primary) 0%, 
        var(--surface) max(10%, 120px)
    );
}

.footer .outro,
.footer .navigation {width: 50%;}
.footer .navigation {flex-wrap: wrap;}

@media (max-width: 768px) {
    .footer {padding: 20px;}

    .footer .content {
        flex-direction: column;
        align-items: start;
        gap: 50px;
    }

    .footer .outro,
    .footer .navigation {width: 100%;}

    .footer .navigation {justify-content: start;}
}