@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 135deg;
}

@keyframes rotateCTAbg {
  0% {
    --angle: 135deg;
  }
  100% {
    --angle: 495deg;
  }
}

@keyframes navFadeIn {
    to {transform: translateX(0);}
}

@keyframes navElemFadeIn {
    to {transform: translateX(0);}
}

.bar {
    width: 20px;
    height: 2px;
    background-color: var(--text);
    border-radius: 2px;
    margin: -1px;
}

.app-title .h1 {font-family: "Inter";}

.header {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.header .menu-btn {display: none;}

.header .options .link {
    border-radius: 20px;
    padding: 5px 10px;
}

.header .options .list .link:hover{ background-color: var(--surface); }

.header #cta {
    background: linear-gradient(var(--angle), var(--primary), var(--secondary));
    animation: rotateCTAbg 10s linear(0, 0.0282, 0.1054, 0.2195, 0.3584, 0.5107, 0.6659, 0.8149, 0.9506, 1.0676, 1.1625, 1.2335, 1.2805, 1.3046, 1.3083, 1.2944, 1.2666, 1.2285, 1.1839, 1.1362, 1.0885, 1.0435, 1.0032, 0.9691, 0.9421, 0.9225, 0.9102, 0.9048, 0.9055, 0.9113, 0.921, 0.9335, 0.9477, 0.9626, 0.9771, 0.9906, 1.0025, 1.0124, 1.0201, 1.0254, 1.0285, 1.0296, 1.0288, 1.0266, 1.0233, 1.0192, 1.0147, 1.0101, 1.0057, 1.0017, 0.9982, 0.9953, 0.9932, 0.9918, 0.991, 0.9909, 0.9913, 0.9921, 0.9932, 0.9945, 0.9959, 0.9973, 0.9986, 0.9998, 1.0009, 1.0017, 1.0023, 1.0026, 1.0028, 1.0028, 1.0026, 1.0024, 1.002, 1.0016, 1.0011, 1.0007, 1.0003, 0.9999, 0.9996, 0.9994, 0.9993, 0.9992, 0.9991, 0.9991, 0.9992, 0.9993, 0.9994, 0.9996, 0.9997, 0.9998, 0.9999, 1, 1.0001, 1.0002, 1.0002, 1.0003, 1.0003, 1.0003, 1.0002, 1.0002, 1) infinite forwards;
    padding: 10px;
    position: relative;
}

.header #cta::before,
.header #cta::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--angle), var(--primary), var(--secondary));
    animation: rotateCTAbg 10s linear(0, 0.0282, 0.1054, 0.2195, 0.3584, 0.5107, 0.6659, 0.8149, 0.9506, 1.0676, 1.1625, 1.2335, 1.2805, 1.3046, 1.3083, 1.2944, 1.2666, 1.2285, 1.1839, 1.1362, 1.0885, 1.0435, 1.0032, 0.9691, 0.9421, 0.9225, 0.9102, 0.9048, 0.9055, 0.9113, 0.921, 0.9335, 0.9477, 0.9626, 0.9771, 0.9906, 1.0025, 1.0124, 1.0201, 1.0254, 1.0285, 1.0296, 1.0288, 1.0266, 1.0233, 1.0192, 1.0147, 1.0101, 1.0057, 1.0017, 0.9982, 0.9953, 0.9932, 0.9918, 0.991, 0.9909, 0.9913, 0.9921, 0.9932, 0.9945, 0.9959, 0.9973, 0.9986, 0.9998, 1.0009, 1.0017, 1.0023, 1.0026, 1.0028, 1.0028, 1.0026, 1.0024, 1.002, 1.0016, 1.0011, 1.0007, 1.0003, 0.9999, 0.9996, 0.9994, 0.9993, 0.9992, 0.9991, 0.9991, 0.9992, 0.9993, 0.9994, 0.9996, 0.9997, 0.9998, 0.9999, 1, 1.0001, 1.0002, 1.0002, 1.0003, 1.0003, 1.0003, 1.0002, 1.0002, 1) infinite forwards;
    z-index: -1;
    transition: all 0.5s;
}

.header #cta::before {filter: blur(4px);}
.header #cta:hover::before {filter: blur(10px);}

.sidebar {
    background-color: #0E0E1057;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: min(70%, 300px);
    height: 100vh;
    height: 100dvh;
    padding: 20px;
    transform: translateX(-100%);
    display: none;
}

.sidebar.open {
    animation: navFadeIn 1.9s linear(0, 0.0103, 0.0387, 0.0819, 0.1368, 0.2004, 0.2701, 0.3436, 0.4188, 0.494, 0.5677, 0.6386, 0.7058, 0.7684, 0.826, 0.8781, 0.9246, 0.9655, 1.0007, 1.0304, 1.0549, 1.0746, 1.0897, 1.1007, 1.108, 1.112, 1.1131, 1.1118, 1.1085, 1.1035, 1.0973, 1.09, 1.0821, 1.0738, 1.0652, 1.0567, 1.0484, 1.0404, 1.0329, 1.0258, 1.0193, 1.0135, 1.0082, 1.0037, 0.9997, 0.9964, 0.9936, 0.9915, 0.9898, 0.9886, 0.9878, 0.9873, 0.9872, 0.9874, 0.9878, 0.9883, 0.989, 0.9899, 0.9908, 0.9917, 0.9927, 0.9936, 0.9946, 0.9955, 0.9963, 0.9971, 0.9979, 0.9985, 0.9991, 0.9996, 1.0001, 1.0004, 1.0007, 1.001, 1.0012, 1.0013, 1.0014, 1.0014, 1.0014, 1.0014, 1.0014, 1.0013, 1.0012, 1.0011, 1.001, 1.0009, 1.0008, 1.0007, 1.0006, 1.0005, 1.0004, 1.0003, 1.0002, 1.0002, 1.0001, 1, 1, 0.9999, 0.9999, 0.9999, 1) forwards;
}

.sidebar .menu-btn .bar1 {transform: rotate(45deg);}
.sidebar .menu-btn .bar2 {transform: rotate(-45deg);}

.sidebar .options {height: 100%;}
.sidebar .list .link {color: var(--text);}
.sidebar #cta {text-align: center;}

@media (max-width: 768px) {
    .header .menu-btn {display: flex;}
    .header .options .list {display: none;}
}

@media (max-width: 425px) {
    .header .app-title .h1 {display: none;}
}