@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 135deg;
}

@keyframes rotateCTAbg {
  0% {
    --angle: 135deg;
  }
  100% {
    --angle: 495deg;
  }
}

@keyframes navFadeIn {
    to {transform: translateX(0);}
}

@keyframes navElemFadeIn {
    to {transform: translateX(0);}
}

.menu-btn {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.header .bar,
.sidebar .bar {
    width: 20px;
    height: 2px;
    background-color: var(--text);
    border-radius: 2px;
    margin: -1px;
}

.app-title .h1 {font-family: "Inter";}

.header {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.header .menu-btn {display: none;}

.header .options .link {
    border-radius: 20px;
    padding: 5px 10px;
}

.header .options .list .link:hover{ background-color: var(--surface); }

.header #cta {
    background: linear-gradient(var(--angle), var(--primary), var(--secondary));
    animation: rotateCTAbg 10s linear(0, 0.0282, 0.1054, 0.2195, 0.3584, 0.5107, 0.6659, 0.8149, 0.9506, 1.0676, 1.1625, 1.2335, 1.2805, 1.3046, 1.3083, 1.2944, 1.2666, 1.2285, 1.1839, 1.1362, 1.0885, 1.0435, 1.0032, 0.9691, 0.9421, 0.9225, 0.9102, 0.9048, 0.9055, 0.9113, 0.921, 0.9335, 0.9477, 0.9626, 0.9771, 0.9906, 1.0025, 1.0124, 1.0201, 1.0254, 1.0285, 1.0296, 1.0288, 1.0266, 1.0233, 1.0192, 1.0147, 1.0101, 1.0057, 1.0017, 0.9982, 0.9953, 0.9932, 0.9918, 0.991, 0.9909, 0.9913, 0.9921, 0.9932, 0.9945, 0.9959, 0.9973, 0.9986, 0.9998, 1.0009, 1.0017, 1.0023, 1.0026, 1.0028, 1.0028, 1.0026, 1.0024, 1.002, 1.0016, 1.0011, 1.0007, 1.0003, 0.9999, 0.9996, 0.9994, 0.9993, 0.9992, 0.9991, 0.9991, 0.9992, 0.9993, 0.9994, 0.9996, 0.9997, 0.9998, 0.9999, 1, 1.0001, 1.0002, 1.0002, 1.0003, 1.0003, 1.0003, 1.0002, 1.0002, 1) infinite forwards;
    padding: 10px;
    position: relative;
}

.header #cta::before,
.header #cta::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--angle), var(--primary), var(--secondary));
    animation: rotateCTAbg 10s linear(0, 0.0282, 0.1054, 0.2195, 0.3584, 0.5107, 0.6659, 0.8149, 0.9506, 1.0676, 1.1625, 1.2335, 1.2805, 1.3046, 1.3083, 1.2944, 1.2666, 1.2285, 1.1839, 1.1362, 1.0885, 1.0435, 1.0032, 0.9691, 0.9421, 0.9225, 0.9102, 0.9048, 0.9055, 0.9113, 0.921, 0.9335, 0.9477, 0.9626, 0.9771, 0.9906, 1.0025, 1.0124, 1.0201, 1.0254, 1.0285, 1.0296, 1.0288, 1.0266, 1.0233, 1.0192, 1.0147, 1.0101, 1.0057, 1.0017, 0.9982, 0.9953, 0.9932, 0.9918, 0.991, 0.9909, 0.9913, 0.9921, 0.9932, 0.9945, 0.9959, 0.9973, 0.9986, 0.9998, 1.0009, 1.0017, 1.0023, 1.0026, 1.0028, 1.0028, 1.0026, 1.0024, 1.002, 1.0016, 1.0011, 1.0007, 1.0003, 0.9999, 0.9996, 0.9994, 0.9993, 0.9992, 0.9991, 0.9991, 0.9992, 0.9993, 0.9994, 0.9996, 0.9997, 0.9998, 0.9999, 1, 1.0001, 1.0002, 1.0002, 1.0003, 1.0003, 1.0003, 1.0002, 1.0002, 1) infinite forwards;
    z-index: -1;
    transition: all 0.5s;
}

.header #cta::before {filter: blur(4px);}
.header #cta:hover::before {filter: blur(10px);}

.sidebar {
    background-color: #0E0E1057;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: min(70%, 300px);
    height: 100vh;
    height: 100dvh;
    padding: 20px;
    transform: translateX(-100%);
    display: none;
}

.sidebar * {
    transform: translateX(-100%);
    transition: all 2.32s linear(0, 0.0097, 0.0366, 0.0774, 0.1291, 0.1889, 0.2544, 0.3235, 0.3943, 0.4651, 0.5347, 0.6019, 0.6658, 0.7257, 0.7812, 0.8319, 0.8777, 0.9183, 0.954, 0.9849, 1.011, 1.0327, 1.0504, 1.0642, 1.0746, 1.0819, 1.0865, 1.0887, 1.0889, 1.0874, 1.0844, 1.0804, 1.0754, 1.0699, 1.0639, 1.0577, 1.0513, 1.0451, 1.039, 1.0331, 1.0275, 1.0224, 1.0176, 1.0132, 1.0094, 1.0059, 1.0029, 1.0003, 0.9982, 0.9964, 0.995, 0.9939, 0.9931, 0.9925, 0.9922, 0.9921, 0.9921, 0.9923, 0.9926, 0.993, 0.9935, 0.994, 0.9945, 0.9951, 0.9957, 0.9962, 0.9967, 0.9973, 0.9977, 0.9982, 0.9986, 0.999, 0.9993, 0.9996, 0.9998, 1.0001, 1.0002, 1.0004, 1.0005, 1.0006, 1.0006, 1.0007, 1.0007, 1.0007, 1.0007, 1.0007, 1.0006, 1.0006, 1.0006, 1.0005, 1.0005, 1.0004, 1.0004, 1.0003, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1.0001, 1);
}

.sidebar.open {
    animation: navFadeIn 1.6s linear(0, 0.0114, 0.0427, 0.0898, 0.149, 0.2169, 0.2906, 0.3673, 0.445, 0.5216, 0.5958, 0.6663, 0.7321, 0.7926, 0.8474, 0.8962, 0.9389, 0.9758, 1.0069, 1.0325, 1.053, 1.0689, 1.0805, 1.0884, 1.093, 1.0947, 1.0941, 1.0915, 1.0873, 1.0819, 1.0756, 1.0687, 1.0614, 1.0541, 1.0468, 1.0397, 1.0329, 1.0266, 1.0208, 1.0155, 1.0107, 1.0066, 1.003, 0.9999, 0.9974, 0.9953, 0.9937, 0.9926, 0.9917, 0.9913, 0.991, 0.9911, 0.9913, 0.9916, 0.9921, 0.9927, 0.9934, 0.994, 0.9947, 0.9954, 0.9961, 0.9968, 0.9974, 0.9979, 0.9984, 0.9989, 0.9993, 0.9997, 1, 1.0002, 1.0004, 1.0006, 1.0007, 1.0008, 1.0008, 1.0008, 1.0008, 1.0008, 1.0008, 1.0008, 1.0007, 1.0006, 1.0006, 1.0005, 1.0004, 1.0004, 1.0003, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1, 1, 1, 1, 0.9999, 0.9999, 0.9999, 0.9999, 1) forwards;
}

.sidebar.open * {
    transform: translateX(0);
}

.sidebar #slide-nav {
    position: absolute;
    padding: 20px 10px;
    top: calc(50% - 32px);
    left: calc(100% - 22px);
    transition-delay: 2s;
}

.sidebar .menu-btn .bar1 {transform: rotate(45deg);}
.sidebar .menu-btn .bar2 {transform: rotate(-45deg);}

.sidebar .options {height: 100%;}
.sidebar .list .link {color: var(--text);}
.sidebar #cta {text-align: center;}

@media (max-width: 1024px) {
    .header {position: static;}
}

@media (max-width: 768px) {
    .header .menu-btn {display: flex;}
    .header .options .list {display: none;}
}

@media (max-width: 425px) {
    .header .app-title .h1 {display: none;}
}