<link rel="stylesheet" href="{{ url_for('static', filename='css/components/footer.css') }}">

<footer class="footer column gap-20">
    <div class="content row h-sb gap-20">
        <div class="outro column gap-20">
            <a href="/" class="link app-title row gap-10">
                <img src="{{ url_for('static', filename='assets/icons/logo.png') }}" alt="Logo" class="logo">
                <h1 class="h1">coderadi</h1>
            </a>

            <p class="para">Showcasing my portfolio, services, software products, and practical learning resources to
                help businesses grow with clean, custom-built digital solutions today.</p>

            <ul class="list row gap-10">
                <li><a href="https://www.instagram.com/coderadi.in" target="_blank" rel="noopener noreferrer"
                        class="link">
                        <img src="{{ url_for('static', filename='assets/icons/insta.png') }}" alt="Instagram"
                            class="icon">
                    </a></li>

                <li><a href="https://github.com/coderadi-in" target="_blank" rel="noopener noreferrer" class="link">
                        <img src="{{ url_for('static', filename='assets/icons/git.png') }}" alt="GitHub" class="icon">
                    </a></li>

                <li><a href="https://www.linkedin.com/in/aditya-singh-60b571389/" target="_blank"
                        rel="noopener noreferrer" class="link">
                        <img src="{{ url_for('static', filename='assets/icons/linkedin.png') }}" alt="LinkedIn"
                            class="icon">
                    </a></li>

                <li><a href="https://youtube.com/@coderadi-in" target="_blank" rel="noopener noreferrer" class="link">
                        <img src="{{ url_for('static', filename='assets/icons/yt.png') }}" alt="YouTube" class="icon">
                    </a></li>

                <li><a href="https://x.com/coderadi_in" target="_blank" rel="noopener noreferrer" class="link">
                        <img src="{{ url_for('static', filename='assets/icons/x.png') }}" alt="X" class="icon">
                    </a></li>
            </ul>
        </div>

        <div class="navigation flex h-center gap-20">
            <div class="column">
                <h3 class="h3">Main</h3>
                <ul class="list column gap-5">
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="/about/" class="link">About</a></li>
                    <li><a href="/projects/" class="link">Projects</a></li>
                    <li><a href="/contact/" class="link">Contact</a></li>
                </ul>
            </div>

            <div class="column">
                <h3 class="h3">Products</h3>
                <ul class="list column gap-5">
                    <li><a href="#" class="link">Custom Tools</a></li>
                    <li><a href="#" class="link">Software</a></li>
                    <li><a href="#" class="link">Customize your own</a></li>
                </ul>
            </div>

            <div class="column">
                <h3 class="h3">Resources</h3>
                <ul class="list column gap-5">
                    <li><a href="#" class="link">Documentation</a></li>
                    <li><a href="#" class="link">Tutorials</a></li>
                    <li><a href="#" class="link">Learning series</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="divider">
    <div class="res-row h-sb">
        <span class="text">coderadi | 2025</span>
        <span class="text">software &bull; website</span>
    </div>
</footer>