<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">

<header class="header row h-sb">
    <section class="left row gap-10">
        <div class="menu-btn column gap-10">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
        </div>

        <a href="/" class="link app-title row gap-10">
            <img src="{{ url_for('static', filename='assets/icons/logo.png') }}" alt="Logo" class="logo">
            <h1 class="h1">coderadi</h1>
        </a>
    </section>

    <div class="options row gap-20">
        <ul class="list row">
            <li><a href="/" class="link">Home</a></li>
            <li><a href="/projects/" class="link">Projects</a></li>
            <li><a href="/about/" class="link">About</a></li>
            <li><a href="/contact/" class="link">Contact</a></li>
        </ul>

        <a href="/contact/?ref=cta" class="link btn fl" id="cta">Work with me</a>
    </div>
</header>

<nav class="sidebar column gap-50">
    <button class="btn fl" id="slide-nav">
        <img src="{{ url_for('static', filename='assets/icons/slide-nav.png') }}" alt="Slide navbar" class="icon">
    </button>
    <section class="left row gap-10">
        <div class="menu-btn column">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
        </div>

        <a href="/" class="link app-title row gap-10">
            <img src="{{ url_for('static', filename='assets/icons/logo.png') }}" alt="Logo" class="logo">
            <h1 class="h1">coderadi</h1>
        </a>
    </section>

    <div class="options column h-sb">
        <ul class="list column gap-10">
            <li><a href="/" class="link">Home</a></li>
            <li><a href="/projects/" class="link">Projects</a></li>
            <li><a href="/about/" class="link">About</a></li>
            <li><a href="/contact/" class="link">Contact</a></li>
        </ul>

        <a href="/contact/?ref=cta" class="link btn fl" id="cta">Work with me</a>
    </div>
</nav>

<script src="{{ url_for('static', filename='js/components/header.js') }}"></script>